<div class="modal-form">
  <div class="modal-form__bg"></div>
  <div class="modal-form__content">
    <div class="modal-form__col">
      <div class="modal-form__title">
        Получить <span>персональную
          консультацию</span>
      </div>
      <div class="modal-form__subtitle">
        Введите ваши данные и наш юрист свяжется с вами для решения вашей проблемы
      </div>
      <div class="modal-form__employee">
        <div class="modal-form__employee-img">
          <span>
            <img src="./img/employee-card/01.png" srcset="./img/employee-card/01.png 1x, ./img/employee-card/01@2x.png 2x" alt="">
          </span>
        </div>
        <div class="modal-form__employee-info">
          <div class="modal-form__employee-name">
            Никишков Денис
          </div>
          <div class="modal-form__employee-pos">
            Решение вопросов в области земельного права
          </div>
        </div>
      </div>
    </div>
    <div class="modal-form__col">
      <form class="modal-form-item"> 
        <label>
          <input type="text" name="name" class="input-name" placeholder="Ваше имя">
        </label>
        <label>
          <input type="tel" name="tel" class="input-tel" placeholder="+7 (___) ___ - __ - __">
        </label>
        <label class="modal-form__name">
          <input type="text" name="date" class="date-mask input-date" placeholder="__ - __ - 2022">
          <span>Дата</span>
        </label>
        <label class="modal-form__name">
          <!-- <select>
            <option value="1">11:00</option>
            <option value="2">12:00</option>
            <option value="3">13:00</option>
            <option value="4">14:00</option>
            <option value="5">15:00</option>
          </select> -->
          <input type="text" name="time" class="time-mask" placeholder="12:00">
          <span>Время</span>
        </label>
        <button class="btn btn_main">Отправить</button>
        <div class="modal-form__warn">Нажимая кнопку отправить, я соглашаюсь с политикой конфидициальности</div>
      </form>
    </div>

    <div class="modal-form__thank">
      <div class="modal-form__thank-ico">
        <img src="./img/modal/thank.svg" alt="">
      </div>
      <div class="modal-form__thank-title">
        Спасибо!
        <span>Скоро с вами свяжемся</span>
      </div>
      <div class="modal-form__thank-desc">
        Мы получили ваш запрос, как наши юристы его обработают мы с вами свяжемся
      </div>
    </div>

    <div class="modal-form__content-close">Закрыть</div>
  </div>
</div>