<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <div class="footer-body__top">
        <div class="footer-body__top-logo">
          <img src="./img/header/logo.png" srcset="./img/header/logo.png 1x, ./img/header/logo@2x.png 2x" alt="">
        </div>
        <div class="footer-body__top-content">
          <a href="" class="footer-body__top-item">
            Сопровождение сделок с недвижимостью
          </a>
          <a href="" class="footer-body__top-item">
            Решение вопросов в области земельного права
          </a>
          <a href="" class="footer-body__top-item">
            Решение споров в судебном порядке
          </a>
          <a href="" class="footer-body__top-item">
            Помощь в получении ипотеки
          </a>
        </div>
      </div>
      <div class="footer-body__bottom">
        <div class="footer-body__bottom-cr">
          © 2010 - 2022 atlant.ru. <br>
Юридические услуги в сфере недвижимости и земельного права
        </div>
        <div class="footer-body__bottom-wm">
          Разработка - <span>ROCKIT</span>
        </div>
      </div>
    </div>
  </div>
</footer>