<header class="header @@class">
	<div class="header-mobile">
		<div class="container">
			<a href="tel:+74958225630" class="header-mobile__phone">
				<img src="./img/icons/phone-white.svg" alt="">
				8 495 822 56 30
			</a>
		</div>
	</div>
	<div class="container">
		<div class="header-body">
			<a href="./index.html" class="header-body__logo">
				<img src="./img/header/logo.png" srcset="./img/header/logo.png 1x, ./img/header/logo@2x.png 2x" alt="">
			</a>
			<div class="header-body__burger">
				<span></span>
				<span></span>
			</div>
			<a href="tel:+74958225630" class="header-body__phone">
				<img src="./img/icons/phone.svg" alt="">
				8 495 822 56 30
			</a>
		</div>
	</div>
	<div class="header-menu">
		<div class="container">
			<div class="header-menu__content">
				<a href="" class="header-menu__content-item header-menu__close">
					<span>
						<img src="./img/icons/arrow-back.svg" alt="">
						На главную
					</span>
				</a>
				<a href="" class="header-menu__content-item">
					<img src="./img/header/menu/01.svg" alt="">
					<span>
						Сопровождение сделок с недвижимостью
					</span>
				</a>
				<a href="" class="header-menu__content-item">
					<img src="./img/header/menu/02.svg" alt="">
					<span>
						Решение вопросов в области земельного права
					</span>
				</a>
				<a href="" class="header-menu__content-item">
					<img src="./img/header/menu/03.svg" alt="">
					<span>
						Помощь в получении ипотеки
					</span>
				</a>
				<a href="" class="header-menu__content-item">
					<img src="./img/header/menu/04.svg" alt="">
					<span>
						Контакты
					</span>
				</a>
			</div>
		</div>
	</div>
</header>