@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Medium.woff2") format("woff2"), url("../fonts/Commissioner-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Bold.woff2") format("woff2"), url("../fonts/Commissioner-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Regular.woff2") format("woff2"), url("../fonts/Commissioner-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Thin.woff2") format("woff2"), url("../fonts/Commissioner-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-SemiBold.woff2") format("woff2"), url("../fonts/Commissioner-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
